<!doctype html>
<html lang="pt-br">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<title>Estoque</title>
</head>
<body>

	<script type="text/javascript">
		
	</script>
	<nav class="navbar navbar-expanded navbar-dark bg-primary">
		<a class="navbar-brand " href="/madeiras">Estoque Madeiras</a>
	</nav>

	<div class="container">

		<h4 class="card-title mt-3">Reposição De Estoque</h4>

		<div class="row">

			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<a class="btn btn-secondary" href="/madeiras">Voltar</a>
			</div>

		</div>

		<div class="row mt-2 mb-2">

			<div class="col-2">
				<div>
					<h5>Id</h5>
				</div>
			</div>

			<div class="col-3">
				<div>
					<h5>Tipo</h5>
				</div>
			</div>

			<div class="col-3">
				<div>
					<h5>Dimensões</h5>
				</div>
			</div>

			<div class="col-3">
				<div>
					<h5>Guardar</h5>
				</div>
			</div>

		</div>

		<form method="post">
			<div class="row mt-1"
				th:each="madeira, itemStat : ${madeirasReposicao.madeiras}">

				<div class="col-2">
					<input class="form-control" readonly="true"
						th:name="|madeiras[${itemStat.index}].id|"
						th:value="${madeira.getId()}">
				</div>

				<div class="col-3">
					<input class="form-control" readonly="true"
						th:name="|madeiras[${itemStat.index}].tipo|"
						th:value="${madeira.getTipo()}">
				</div>
				<div class="col-3">
					<input class="form-control" readonly="true"
						th:name="|madeiras[${itemStat.index}].dimencoes|"
						th:value="${madeira.getDimencoes()}">
				</div>
				<div class="col-3">
					<input class="form-control w-50"
						th:name="|madeiras[${itemStat.index}].quantidade|" min="0"
						type="number" th:value="${madeira.getQuantidade()}">
				</div>
			</div>
			<div class="row mt-4 mb-5">
				<div class="col-4"></div>
				<div class="col-4">
					<button class="btn btn-success w-75" type="submit">Salvar entrada</button>
				</div>
				<div class="col-4"></div>
		</form>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>